/*=====VARIABLES=====*/
:root{
    --color-fondo: #242323;
    --color-head-foot: #333;
    --texto-claro: rgb(236, 227, 227);
    --texto-oscuro: rgb(20, 20, 20);
}

/*=====DOCUMENTO GENERAL=====*/
header {
    background-color: var(--color-head-foot);
    color: var(--texto-claro);
    padding: 1rem;
}
body{
    background-color: var(--color-fondo);
    color: var(--texto-claro);
    overflow-x: hidden; /*ESto evita el desbordamiento horizontal*/
}

/*=====ELEMENTOS COMUNES=====*/
.titulo {
    text-align: center;
    margin: 3rem;
}
.column h3 {
    margin-top: 5rem;
}
/*Margin verticalmete de 2rem y nada a los lados*/
.row {
    margin: 2rem 0; 
}

/*=====PRINCIPALES=====*/
/*Navbar*/
.navbar .column {
    text-align: center;
    padding: 1rem;
}

/*imagenes responsive*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Formulario*/
.fondo{
    background-image: url(images/fondo.png);
    background-size: cover;
    background-position: center;
    padding: 5rem;
}
form {
    color: var(--texto-claro);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5rem;
    border-radius: 3rem;
}

/*Footer*/
.footer{
    background-color: var(--color-head-foot);
    color: var(--texto-claro);
    text-align:  center;
    padding-top: 4rem;   
}

